html, body {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

.header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 225, 179);
    margin: 50px;
}